/*--------------------
1. Headings
2. Paragraphs
3. Lists
4. Blockquotes
5. Links
---------------------*/

body {
	color: get-color(default);

	//-----------------
	//1. HEADINGS
	//-----------------
	h1,h2,h3,h4,h5,h6 {
		font-weight: $font-weight--bold;
		color: get-color(default);

		@include breakpoint (small down) {
			line-height: 1.2;
		}//end small down breakpoint
	}//all headings

	h1 {
		line-height: 1.25;
	}///end h1 
	
	h2 {
		font-weight: $font-weight--regular;
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}///end h2

	h3 {
		font-weight: $font-weight--regular;
		margin-bottom: $spacing--xs;
	}///end h3 

	h4 {
		text-transform: uppercase;
		font-weight: $font-weight--bold;
	}///end h4 

	h5 {

	}///end h5 

	h6 {

	}///end h6

	//-----------------
	//END HEADINGS
	//-----------------

	//-----------------
	//2. PARAGRAPHS
	//-----------------

	p {
		font-size: $font-size--regular;
		line-height: 1.625;
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			font-size: 1rem;
			line-height: 1.625;
		}//end small down breakpoint
	}//end p

	//-----------------
	//END PARAGRAPHS
	//-----------------

	//-----------------
	//3. LISTS
	//-----------------

	ul, ol, li {
		font-size: $font-size--regular;
	}

	ul {
		margin-bottom: $spacing--sm;
	}//end ul

	.sl_content {
		ul {
			li {
				&:not(:last-of-type) {
					margin-bottom: 0;
				}//end &:not(last-of-type)
			}//end li

			&.sl_list {
				list-style: none;
				margin: 0 0 $spacing--sm $spacing--xs + rem-calc(8px);

				li {
					&:not(:last-of-type){
						margin-bottom: $spacing--xs;
					}//end &:not(:last-of-type)

					&:before {
						content: '';
						display: inline-block;
						margin-right: $spacing--xs;
						margin-left: -$spacing--xs - rem-calc(8px);
						background-color: get-color(secondary);
						background-repeat: no-repeat;
						width: 8px;
						height: 8px;
						border-radius: $border-radius--circle;
					}//end &:before
				}//end li

				&--primary {
					@extend .sl_list;

					li {
						&:before {
							background-color: get-color(primary);
						}//end &:before
					}//end li
				}//end &--primary

			}//end &.sl_list
		}//end ul
	}//end .sl_content

	ol {
		margin-bottom: $spacing--sm;
		li {
			&:not(:last-of-type) {
				margin-bottom: $spacing--xs;
			}//end &:not(:last-of-type)
		}//end li
	}//end ol

	//-----------------
	//END LISTS
	//-----------------

	//-----------------
	// 4. BLOCKQUOTES
	//-----------------
		blockquote {

			p {

			}//end p

			cite {

			}//end cite
		}//end blockquote
	//-----------------
	//END BLOCKQUOTES
	//-----------------

	//-----------------
	// 5. LINKS
	//-----------------
		a {
			@include transition (all .3s ease-in-out);
			font-weight: $font-weight--bold;
			color: get-color(accent1);

			&[href^=tel] {
				white-space: nowrap;
			}//end &[href^=tel]

			&:hover {
				color: get-color(primary);
				@include transition (all .3s ease-in-out);
			}//end &:hover
		}//end .sl_content a

		a.sl_link {
			&--download {
				&:after {
					content:'\f1c1';
					display: inline-block;
					margin-left: 8px;
					font-family: FontAwesome;
					text-align: center;
					@include transition (all .3s ease-in-out);
				}//end &:before
			}//end &--download
		}//end .sl_link
	//-----------------
	//END LINKS
	//-----------------
}//end body