//INNER CLASS
@mixin inner ($max-width: $grid-container) {
  @if $max-width {max-width: $max-width;}
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  @include innerpadding;
}//end @mixin inner

//INNER PADDING
@mixin innerpadding($p-small: $spacing--sm, $p-medium: $spacing--md, $p-large: $spacing--xl, $p-xlarge: $spacing--xxxl, $p-xxlarge: $spacing--xl) {
  
  @include breakpoint(small) {
      padding-left: $p-small;
      padding-right: $p-small;
  }
  @include breakpoint(medium) {
      padding-left: $p-medium;
      padding-right: $p-medium;
  }
  @include breakpoint(large) {
      padding-left: $p-large;
      padding-right: $p-large;
  }
  @include breakpoint(xlarge) {
      padding-left: $p-xlarge;
      padding-right: $p-xlarge;
  }
  @include breakpoint(xxlarge) {
      padding-left: $p-xxlarge;
      padding-right: $p-xxlarge;
  }
}//end @mixin innerpadding