/*----------------------
1. Primary Button
2. Secondary Button
3. Search Button
4. Menu Button
5. Icon Button
6. Download Button
7. Pagination Button
8. Social Buttons
9. Share Button
10. Carousel Buttons
12. Back to Top Button
13. Video Button
14. Scroll Button

- Button Group
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	@include transition (all .2s ease-in-out);
	border-radius: $border-radius--pill;
	background-color: get-color(accent3);
	font-weight: $font-weight--semibold;
	font-size: 1.25rem;
	padding: $spacing--xs $spacing--md;
	color: get-color(default);

	@include breakpoint (small only) {
		width: 100%;
		padding: $spacing--xs;
		font-size: 1.125rem;
	}//end small only breakpoint


	&:hover {
		@include transition (all .2s ease-in-out);
		background-color: darken(get-color(accent3), 10%);
		color: get-color(default);
	}//end &:hover

	//Medium Button
	&--medium {

	}//end &--medium
	
	//Small Button
	&--small {

	}//end &--small

//2. Secondary Button 
	&--secondary {
		background-color: get-color(secondary);

		&:hover {

		}//end &:hover
	}//end &--secondary

//3. Search Button
	&--search {
		display: inline-block;
		background: none;
		color: get-color(default);
		box-shadow: none;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: get-color(default);
		}//end &:hover
	}//end &--search

//4. Menu Button
	&--menu {
		
	}//end &--menu

//6. Icon Button
	&--icon {
		padding-right: $spacing--xl;
		&:before {
			background-image: url(#{$path-img}icon/name.svg);
			background-repeat: no-repeat;
			background-size: 13px 13px;
			background-position: right $spacing--sm center;
		}//end &:before
	}//end &--icon

//7. Download Button
	&--download{
		color: get-color(default);
		@include fancy-button;
		padding-right: $spacing--xl;
		
		&:before {
			background-image: url(#{$path-img}icon/download-icon.svg);
			background-repeat: no-repeat;
			background-size: 13px 13px;
			background-position: right $spacing--sm center;
		}//end &:before

		&:hover {
			color: get-color(default);
		}
	}//end &--download

//8. Pagination Button
	&--pagination {

	}//end &--pagination

//9. Social Buttons
	&--social {
		width: 50px;
		height: 50px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		&.sl_facebook {background-color: #3B5998;}
		&.sl_twitter {background-color: #1DA1F2;};
		&.sl_youtube {background-color: #FF0000;};
		&.sl_linkedin {background-color: #007BB5;};
	}//end .sl_button--social

//10. Share Button
	&--share {
		
	}//end .sl_button--share

//11. Carousel Buttons
	&--carousel {
		display: flex;
		position: absolute;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 2px solid get-color(accent1);
		background-color: get-color(inverse);
		align-items: center;
		justify-content: center;
		cursor: pointer;
		top: calc(50% - 24px);
		padding: 0;
		z-index: 1;

		&:before {
			display: block;
			font-size: 1.125rem;
			@include fontawesome;
			line-height: 1;
			color: get-color(secondary);
		}//end &:before

		&.sl_prev {
			left: rem-calc(24px);
			&:before {
				content:'\f053';
			}//end &:before	
		}//end &.sl_prev

		&.sl_next {
			right: rem-calc(24px);
			&:before {
				content:'\f054';
			}//end &:before	
		}//end &.sl_next

	}//end &--carousel

//12. Back to Top Button
	&--backtop {
		position: fixed;
		z-index: 99;
		bottom: $spacing--xs;
		right: $spacing--xs;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		@include transition (all .3s ease-in-out);

		&.sl_active {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}
	}//end &--backtop

//13. Video Button
	&--video {
		background-color: get-color(inverse);
		border: 2px solid get-color(accent1);
		border-radius: $border-radius--circle;
		color: get-color(default);
		font-size: rem-calc(25px);
		padding: 0;
		width: 68px;
		height: 68px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
		
		&:after {
			@include fontawesome($content: '\f04b');
			margin-left: 4px;
		}//end &:after

		&:hover, &:focus {
			background-color: get-color(accent1);
			color: get-color(inverse);
		}//end &:hover, &:focus
	}//end &--video

//14. Scroll Button
	&--scroll {
		padding: 0;
		display: inline-block;
		background: none;
		font-size: rem-calc(22px);
		color: get-color(primary);

		&:before {
			display: inline-block;
			font-size: 1.25rem;
			@include fontawesome ($content: '\f063');
			margin-right: $spacing--xs/2;
			text-align: center;
			@include transition (all .3s ease-in-out);
		}//end &:before

		@keyframes wiggle {
		  0%   {transform: translateY(0px);}
		  50%  {transform: translateY(3px);}
		  10%  {transform: translateY(0px);}
		}//end @keyframes wiggle

		&:hover, &:focus {
			background: none;
			color: get-color(primary);

			&:before {
				animation-name: wiggle;
  				animation-duration: 1s;
  				animation-iteration-count: infinite;
				@include transition (all .3s ease-in-out);
			}//end &:before
		}//end &:hover, &:focus
	}//end &--scroll
}//end .sl_button

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;

		@include breakpoint (small only) {
			width: 100%;
		}//end small only breakpoint
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--md;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: rem-calc(10px);
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

}//end .sl_button-group
