.sl_accreditations {

	&__item {
		margin-bottom: $spacing--lg;

		&:last-of-type {
			margin-bottom: 0;
		}//end &:last-of-type
	}//end &__item

	&__media {
		text-align: center;

		img {
			width: 144px;
			height: auto;

			@include breakpoint (small down) {
				width: 100px;
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end img
	}//end &__Media

	&__content {
		a {
			text-decoration: underline;
		}//end a
	}//end &__content
}//ned .sl_accreditations