.sl_accordion-module {
	background-color: get-color(accent2);
	padding-bottom: $spacing--xl;

    @include breakpoint (large only) {
        padding-bottom: $spacing--xl;
    }//end large only breakpoint

    @include breakpoint (medium only) {
        padding-bottom: $spacing--lg;
    }//end medium only breakpoint

    @include breakpoint (small down) {
        padding-bottom: $spacing--md;
    }//end small down breakpoint

    h2 {
    	text-align: center;
    	margin-bottom: $spacing--lg;
    }//end h2

	.sl_accordion {
		background: none;
		&__item {
			margin-bottom: $spacing--sm !important;
			border-radius: $border-radius;
			background: get-color(inverse);
			box-shadow: $shadow;
			overflow: hidden;
		
			&:last-of-type {
				margin-bottom: 0;
			}//end &:last-of-type
		}//end &__item

		&__title {
			background: none;
			border: none !important;
			padding: $spacing--md $spacing--md + rem-calc(21px) $spacing--md $spacing--md;
			font-size: 1.5rem;
			font-weight: $font-weight--extrabold;
			line-height: 1.25;
			color: get-color(primary);

			@include breakpoint (small down) {
				font-size: 1.125rem;
				padding: $spacing--sm $spacing--sm + rem-calc(21px) $spacing--sm $spacing--xs;
			}//end small down breakpoint

			&:hover, &:focus {
				background: none;
				color: get-color(primary);
			}//end &:hover, &:focus

			&:before {
				@include fontawesome( $content:'\f077');
				color: get-color(primary);
				font-size: 1.5rem;
				right: $spacing--sm;
				top: 44%;
			}//end &:before

			.is-active > & {
				color: get-color(primary);

				&:before {
					@include fontawesome( $content:'\f078');
				}//end &:before
			}//end .is-active &
		}//end &__title

		&__content {
			padding: 0 $spacing--md $spacing--md $spacing--md;
			background: none;
			border: none !important;

			@include breakpoint (small down) {
				padding: $spacing--sm $spacing--sm $spacing--sm $spacing--xs;
			}//end small down breakpoint
			
			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end &__content

	}//end .sl_accordion

}//end .sl_accordion-module

