.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: $spacing--xl 0;
	display: flex;

	@include breakpoint (medium only) {
		background-position: right center;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		background: get-color(primary) !important;
		padding: 0;
	}//end small down breakpoint

	&:after {
		@include pseudo;
		background-image: linear-gradient(90deg, rgba(get-color(primary), 1) 30%, rgba(get-color(primary), 0) 90%);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		@include breakpoint (large only) {
			background-image: linear-gradient(90deg, rgba(get-color(primary), 1) 0%, rgba(get-color(primary), .8) 50% , rgba(get-color(primary), .4) 90%);
		}//end large only breakpoint

		@include breakpoint (medium only) {
			background-image: linear-gradient(90deg, rgba(get-color(primary), 1) 0%, rgba(get-color(primary), .8) 50% , rgba(get-color(primary), .4) 90%);
		}//end medium only breakpoint

		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint
	}//end &:after

	& > .sl_inner {
		height: 100%;

		@include breakpoint (medium down) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}//end medium down breakpoint

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint

		& > .sl_card {
			max-width: 822px;

			@include breakpoint (small down) {
				padding: $spacing--lg $spacing--sm;
			}//end small down breakpoint
		}//end & > .sl_card
	}//end & > .sl_inner

	h1 {
		margin-bottom: $spacing--xs;
		color: get-color(inverse);
	}//end h1

	p {
		color: get-color(inverse);

		@include breakpoint (small down) {
			font-weight: $font-weight--regular;
		}//end small down breakpoint

		em {
			font-size: 1.5rem;
		}//end em
	}//end p

	ul {
		font-weight: $font-weight--semibold;
		color: get-color(inverse);
		display: flex;
		flex-flow: row wrap;

		& > li {
			flex: 0 1 50%;

			@include breakpoint (small down) {
				flex: 1 1 100%;
			}//end small down breakpoint
		}//end & > li

		@include breakpoint (small down) {
			font-weight: $font-weight--regular;
		}//end small down breakpoint
	}//end ul

	.sl_button-group {
		justify-content: flex-start;
		margin-top: $spacing--md;
	}//end .sl_button-group

	&__media {
		height: 225px;
		background-size: cover;
		background-position: right center;
		width: 100%;
	}//end &__media
	
}//end .sl_billboard