.sl_deck {

	h2 {
		text-align: center;
	}//end h2

	h3 {
		color: get-color(secondary);
		margin-bottom: $spacing--sm;
		text-align: center;
	}//end h3

	.sl_row {
		& > .sl_cell {
			padding: 0 $spacing--lg/2;
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint
		}//end & > .sl_cell
	}//end .sl_row

	.sl_inner {
		text-align: center;
	}//end .sl_inner


	&__icon {
		color: get-color(accent1);
		font-size: 2rem;
	}//end &__fontawesome;

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child;
	}//end &__content

	&--containers {
		background-color: get-color(accent2);
		& * {
			text-align: center;
		}//end & *

		.sl_row {
			margin-top: $spacing--xl;
			& > .sl_cell {
				padding: 0 $spacing--sm/2;
				margin-bottom: $spacing--xl;
			}//end & > .sl_cell
		}//end .sl_row

		.sl_deck__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: get-color(inverse);
			width: 64px;
			height: 64px;
			border-radius: $border-radius--circle;
			position: absolute;
			left: calc(50% - 32px);
			top: -32px;
		}//end .sl_deck__icon'

		.sl_deck__content {
			p {
				font-weight: $font-weight--bold;
			}//end p
		}//end &.sl_deck__content

		.sl_card {
			background-color: get-color(inverse);
			padding: $spacing--lg $spacing--sm;
			border-radius: $border-radius;
			box-shadow: $shadow;
			position: relative;
		}//end .sl_card
	}//end &--contained;
}//end .sl_deck