.sl_duo {
	background-color: get-color(primary);

	@include breakpoint (small down) {
		padding: 0;
	}//end small down breakpoint

	&--right {
		.sl_duo__media {
			order: 2;

			@include breakpoint (small down) {
				order: 1;
			}//end small down breakpoint
		}//end .sl_duo__media

		.sl_duo__content {
			order: 1;
			padding-left: 0;
			padding-right: $spacing--lg;

			@include breakpoint (small down) {
				order: 2;
				padding: $spacing--sm $spacing--xs $spacing--md;
			}//end small down breakpoint
		}//end .sl_duo__content
	}//end &--right

	.sl_inner {
		@include breakpoint (small down) {
			padding: 0;

			& > h2 {
				padding: $spacing--md $spacing--sm 0;
			}//end h2
		}//end small down breakpoint
	}//end .sl_inner

	&__media {
		position: relative;
		z-index: 1;
		height: 350px;

		@include breakpoint (small down) {
			height: 250px;
		}//end small down breakpoint
	}//end &__media

	&__image {
		position: absolute;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.sl_button {
			position: absolute;
			top: calc(50% - 34px);
			left: calc(50% - 34px);
		}//end .sl_button
	}//end &__image

	&__content {
		padding-left: $spacing--lg;

		& * {
			color: get-color(inverse);
		}//end & *

		@include breakpoint (small down) {
			padding: $spacing--sm $spacing--xs $spacing--md;
		}//end small down breakpoint

		h2 {
			margin-bottom: $spacing--xs;
		}//end h2

		h3 {
			color: get-color(accent3);
			font-style: italic;
			font-weight: $font-weight--bold;
			margin-bottom: $spacing--sm;
		}//end h3
	}//end &__content

	&--slider {
		background-color: get-color(inverse);
		.sl_slider {
			.slick-dots {
				text-align: center;
				margin: 0;
				position: absolute;
				bottom: $spacing--xs;
				left: 0;
				right: 0;

	            li {
	                position: relative;
	                display: inline-block;
	                width: 16x;
	                height: 16px;
	                margin: 0 5px;
	                cursor: pointer;

	                &.slick-active {
	                    button {
	                        background-color: get-color(inverse);
	                        border: none;
	                    }//end button
	                }//end &.slick-active

	                button {
	                    background-color: transparent;
	                    border-radius: 50%;
	                    font-size: 0;
	                    line-height: 0;
	                    display: block;
	                    width: 16px;
	                    height: 16px;
	                    cursor: pointer;
	                    border: 1px solid get-color(inverse);
	                }//end button
	            }//end li
	        }//end .slick-dots
		}//end .sl_slider

		.sl_duo__media {
			height: auto;

			@include breakpoint (small down) {
				order: 2;
			}//end small down breakpoint
		}//end .sl_duo__media

		.sl_duo__content {
			padding: $spacing--md;
			padding-right: 0;

			@include breakpoint (small down) {
				order: 1;
				padding: $spacing--md $spacing--sm !important;
			}//end small down breakpoint

			& * {
				color: get-color(default);
			}//end & *

			h3 {
				color: get-color(secondary);
				font-style: normal;
			}//end h3
		}//end .sl_duo__content

		&.sl_duo--right {
			.sl_duo__content {
				padding-right: $spacing--md;
				padding-left: 0;
			}//end .sl_duo__content
		}//end &.sl_duo--right
	}//end &--slider

}//end .sl_duo

.sl_module--inverse {
	.sl_duo__content {
		padding-left: $spacing--lg;

		& * {
			color: #0a0a0a;
		}//end & *

		@include breakpoint (small down) {
			padding: $spacing--sm $spacing--xs $spacing--md;
		}//end small down breakpoint

		h2 {
			margin-bottom: $spacing--xs;
		}//end h2

		h3 {
			color: get-color(secondary);
			font-style: normal;
		}//end h3
	}//end .sl_duo__content
}//end .sl_module--inverse