.sl_footer_cta {

    &--image {
        margin-bottom: $spacing--sm;

        img {
            width: 250px;
        }
    }//end .&--image

    .sl_inner {
        text-align: center;
    }//end .sl_inner
}//end .sl_footer_cta