.sl_module {
	padding-top: $spacing--xl;
	position: relative;

	@include breakpoint (large only) {
		padding-top: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-top: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-top: $spacing--md;
	}//end small down breakpoint

	//UTILITY CLASSES
	&--notop {
		padding-top: 0;

		@include breakpoint (large only) {
			padding-top: 0;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: 0;
		}//end small down breakpoint
	}//&--notop, &:first-of-type

	&--withbottom {
		padding-bottom: $spacing--xl;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: $spacing--md;
		}//end small down breakpoint
	}//end &--withbottom

	&--nobottom {
		padding-bottom: 0 !important;

		@include breakpoint (large only) {
			padding-bottom: 0 !important;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: 0 !important;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
	}//&--notop, &:first-of-type

 	&--notop-small {
 		@include breakpoint (small down) {
 			padding-top: 0 !important;
 		}//end small down breakpoint
 	}//end &--notop-small

 	&--nobottom-medium {
 		@include breakpoint (medium only) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
 	}//end &--nobottom-medium

	&--nobottom-small {
		@include breakpoint (small down) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
	}//end &--nobottom-small

	&--overlaptop {
		margin-top: -$spacing--xxl;
		padding-top: 0;
	}//end &--overlaptop

	&--underlaptop {
		margin-top: -$spacing--xxl;
		padding-top: $spacing--xxl + $spacing--xxl;

		@include breakpoint (large only) {
			padding-top: $spacing--xxl + $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: $spacing--xxl + $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: $spacing--xxl + $spacing--md;

			&.sl_module--notop-small {
				padding-top: 0;
				margin-top: 0;
			}//end .sl_module--notop-small
		}//end small down breakpoint
	}//end &--underlaptop

	&--accent2 {
		background-color: get-color(accent2);
	}//end &--accent2

	&--default {
		background-color: get-color(default) !important;

		h2 {
			color: get-color(inverse);
		}//end h2
	}//end &--default

	&--inverse {
		background-color: get-color(inverse) !important;
	}//end &--inverse

}//end .sl_module