.sl_spotlight {
	padding: $spacing--xl 0;

	@include breakpoint (small down) {
		padding: $spacing--lg 0;
	}//end small down breakpoint

	.sl_inner {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end .sl_inner

	p {
		font-size: 1.5rem;

		@include breakpoint (small down) {
			font-size: 1.125rem;
		}//end small down breakpoint
	}//end p

	&--cta {
		background-image: linear-gradient(90deg, #E7EDF6 37%, get-color(primary) 100%);

		@include breakpoint (medium down) {
			background-image: linear-gradient(180deg, #E7EDF6 60%, get-color(primary) 100%);
		}//end medium down breakpoint
		p {
			font-size: $font-size--regular;
		}//end p

		.sl_inner {
			display: flex;
			flex-direction: row;

			@include breakpoint (medium down) {
				flex-direction: column;
			}//end medium down breakpoint
		}//end .sl_inner

		.sl_spotlight__content {
			width: 70%;
			padding-right: $spacing--md;

			@include breakpoint (medium down) {
				width: 100%;
				padding: 0;
			}//end medium down breakpoint

			p {
				font-weight: $font-weight--semibold;
				color: get-color(secondary);

				@include breakpoint (small down) {
					font-weight: $font-weight--regular;
				}//end small down breakpoint
			}//end p

			em {
				font-size: 1rem;
				font-weight: $font-weight--regular;

				a:not([href^=tel]) {
					color: get-color(secondary);
					text-decoration: underline;
				}//end a:not([href^=tel])
			}//end em
		}//end .sl_spotlight

		.sl_spotlight__cta {
			display: flex;
			align-items: center;
			justify-content: center;

			.sl_button {
				color: get-color(secondary);
				background-color: get-color(inverse);
			}//end .sl_button
		}//end .sl_spotlight__cta
	}//end &--cta

	&--primary {
		background-color: get-color(primary);

		& > * {
			color: get-color(inverse);
			text-align: center;
		}//end & > *
	}//end &--primary

	&--gradient {
		background: $gradient--primary;

		& * {
			color: get-color(inverse);
			text-align: center;
		}//end & > *
	}//end &--gradient
}//end .sl_spotlight