.sl_statblock {

	& * {
		text-align: center;
	}//end & *

	.sl_inner {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end .sl_inner

	.sl_row {
		padding: 0 0 $spacing--md;
		justify-content: center;

		& > .sl_cell {
			padding: 0 $spacing--sm/2;
			margin-top: $spacing--lg;

			@include breakpoint (small down) {
				padding: 0;
				margin-top: $spacing--sm;
			}//end small down breakpoint
		}//end & > .sl_cell
	}//end .sl_row

	&__stat {
		color: get-color(accent1);
		font-weight: $font-weight--bold;
		font-size: 3rem;
		line-height: 1;

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end &__number

	&__content {
		max-width: 620px;
		margin: 0 auto;

		strong {
			color: get-color(accent1);
		}//end strong

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__content

	&--image {
		h2, p {
			text-align: left;
			max-width: 1000px;
		}//end h2, p

		h3 {
			margin-top: $spacing--lg;
			margin-bottom: $spacing--sm;
		}//end h3

		.sl_statblock__image {
			max-width: 350px;
			width: 100%;
			height: auto;
			margin: 0 auto;
		}//end .sl_statblock__image

		.sl_statblock__stat {
			text-align: center;
		}//end .sl_statblock__stat

		.sl_statblock__content {
			max-width: 330px;
			p {
				text-align: center;
				font-weight: $font-weight--bold;
			}//end p
		}//end .sl_statblock__content
	}//end &--image
}//end .sl_statblock