.sl_tabs-module {
    background-color: get-color(accent2);
    padding-bottom: $spacing--xl;

        @include breakpoint (large only) {
            padding-bottom: $spacing--xl;
        }//end large only breakpoint

        @include breakpoint (medium only) {
            padding-bottom: $spacing--lg;
        }//end medium only breakpoint

        @include breakpoint (small down) {
            padding-bottom: $spacing--md;
        }//end small down breakpoint

    .sl_inner {
         text-align: center;
    }//end .sl_inner

    h2 {
        margin-bottom: $spacing--lg;
    }//end h2

    .sl_tabs {
        display: flex;
        flex-direction: row;
        border: none;
        margin-bottom: 0 !important;
        background: none;

        @include breakpoint (small down) {
            flex-direction: column;
        }//end small down breakpoint

        &__container {
            margin-bottom: $spacing--lg;
        }//end &__container;

        &__title {
            float: none;
            display: flex;
            flex: 1 1 auto;
            text-align: center;
            margin-bottom: 0 !important;
            border: none;

            @include breakpoint (small down) {
                display: block;
                height: 100%;
                min-width: 0;
                vertical-align: middle
            }//end small down breakpoint

            & > a {
                width: 100%;
                height: 100%;
                font-size: 1.25rem;
                color: rgba(get-color(secondary),.75);
                font-family: $body-font-family;
                font-weight: $font-weight--regular;
                padding: $spacing--sm;
                border: none;
                border-radius: 0 !important;
                @include transition (all .3s ease-in-out);
                background-color: #FCFCFC;
                white-space: initial;

                @include breakpoint (medium only) {
                    font-size: 1.125rem;
                }//end medium only breakpoint

                &:hover {
                    background-color: get-color(accent2);
                    @include transition (all .3s ease-in-out);
                }//end &:hover

                &:before {
                    display: none;
                }//end &:before
            }//end & > a

            &:not(.is-active):hover {
                & > a {
                }//end & > a
            }//end &:not(.is-active:hover)

            &.is-active {
                
                & > a {
                    color: get-color(accent1);
                    background-color: get-color(inverse);
                    opacity: 1;
                    box-shadow: 0 5px 10px -6px rgba(0,0,0,0.15);
                    z-index: 1;
                    font-weight: $font-weight--bold;

                    &:focus, &[aria-selected=true] {
                        background-color: get-color(inverse);
                    }//end &:focus, &[aria-selected=true]
                }//end & > a
            }//end &.is-active
        }//end &__title

        .sl_tabs__title.is-active:only-child {
            & > a {
            }//end & > a
        }//end &.is-active

        &__content {
            background: get-color(inverse);
            color: get-color(default);
            z-index: 2;
            position: relative;
            box-shadow: 0 5px 10px -6px rgba(0,0,0,0.15);
            border: none;
        }//end &__content

        &__panel {
            padding: $spacing--lg $spacing--xl;
            border: none;
            text-align: left;

            & > :last-child {
                margin-bottom: 0;
            }//end & > :last-child

            @include breakpoint (medium only) {
                padding: $spacing--lg $spacing--md;
            }//end medium only breakpoint
        }//end &__panel

        &.accordion {
            .sl_tabs__panel {
                padding: $spacing--sm;
                padding-top: $spacing--xs;
            }//end .sl_tabs__panel
        }//end &.accordion
    }//end .sl_tabs

    .tabs-content {
        background: get-color(inverse);
        color: get-color(default);
        border: none;
    }//end &__content


    &--vertical {

        .sl_tabs {
            flex-direction: column;
            width: 50%;
            flex: 1 0 auto;

            @include breakpoint (medium only) {
                width: 30%;
            }//end medium only breakpoint

            @include breakpoint (small down) {
                width: 100%;
            }//end small down breakpoint

            &__container {
                 display: flex;

                 @include breakpoint (small down) {
                    display: block;
                 }//end small down breakpoint
            }//end &__container

             &__panel {
                @include breakpoint (large only) {
                    padding: $spacing--lg $spacing--md;
                }//end large only breakpoint
            }//end &__panel

            &__title {

                & > a {
                }//end & > a

                &:not(.is-active):hover {
                    & > a {
                    }//end & > a
                }//end &:not(.is-active:hover)

                &.is-active {
                    
                    & > a {
                        border-left: 8px solid get-color(accent3);

                        @include breakpoint (small down) {
                            border: none;
                        }//end small down breakpoint

                        &:focus, &[aria-selected=true] {
                        }//end &:focus, &[aria-selected=true]
                    }//end & > a
                }//end &.is-active
            }//end &__title
        }//end .sl_tabs
    }//end &--vertical
}//end .sl_tabs--module
