.sl_testimonial-slider {
	background-color: get-color(accent2);
	padding-bottom: $spacing--xl;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--md;
	}//end small down breakpoint
	h2 {
		text-align: center;
		margin-bottom: $spacing--xxxl - $spacing--md;
	}//end h2

	.sl_inner {
		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end .sl_inner

	.sl_slider {
		.slick-dots {
			text-align: center;
			margin: 0;

            li {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 5px;
                cursor: pointer;

                &.slick-active {
                    button {
                        background-color: get-color(secondary);
                        border: none;
                    }//end button
                }//end &.slick-active

                button {
                    background-color: transparent;
                    border-radius: 50%;
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    border: 2px solid get-color(primary);
                }//end button
            }//end li
        }//end .slick-dots
	}//end .sl_slider

	.sl_card {

		&__media {
			min-height: 445px;
			position: relative;

			@include breakpoint (small down) {
				min-height: 225px;
			}//end small down breakpoint
		}//end &__media

		&__image {
			position: absolute;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}//end &__image

		&__content {
			padding: $spacing--xl $spacing--lg;
			background-color: get-color(inverse);

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			h4 {
				color: get-color(accent1);
				font-size: 1rem;
				margin-bottom: $spacing--xs/2;
			}//end h4
		}//end &__content

		&__quote {
			font-weight: $font-weight--semibold;
			font-size: 1.5rem;
			line-height: 1.5;
			margin-bottom: $spacing--sm;
			color: get-color(default);

			@include breakpoint (small down) {
				font-size: 1.125rem;
				font-weight: $font-weight--regular;
				margin-bottom: $spacing--xs/2;
			}//end small down breakpoint
		}//end &__quote

		&__cite {
			margin-bottom: 0;
			color: get-color(secondary);
			font-weight: $font-weight--bold;
		}//end &__cite
	}//end .sl_card
}//end sl_staff-slider 