.sl_text {
	padding: $spacing--xl 0;

	@include breakpoint (small down) {
		padding: $spacing--lg 0;
	}//end small down breakpoint

	.sl_inner {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end .sl_inner

	&--center {
		& > * {
			text-align: center;
		}

		.sl_inner {
			max-width: 1128px;
		}//end .sl_inner
	}//end &--center

	h3 {
		color: get-color(secondary);
		font-style: normal;
		font-weight: $font-weight--bold;
	}//end h3
}//end .sl_text