<div id="sl_social" class="sl_social">
		<p>FOLLOW US ON:</p>
		<div class="sl_row medium-up-1">
			<div class="sl_social--icon sl_cell">
				{{#each @root.site.follow-us}}
				<a href="{{url}}">
					<img src="{{image}}">
				</a>
				{{/each}}
			</div>
		</div>
</div><!-- /.sl_social -->