<div id="footer" class="sl_footer">
	<div class="sl_inner">
		<p>© <script>document.write(new Date().getFullYear());</script> {{@root.site.name}}. All rights reserved.</p>
		{{#markdown}}{{content}}{{/markdown}}
		<div class="sl_footer__menu">
			<ul class="sl_menu">
				{{#each @root.site.footer.menu }}
				<li>
					<a target="{{ target }}" href="{{ url }}">{{ title }}</a>
				</li>
				{{/each}}
			</ul>
		</div><!--/.sl_footer__menu -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_footer -->