<div id="{{id}}" class="sl_module sl_tabs-module {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
        {{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
        <div class="sl_tabs__container">
            <ul class="tabs sl_tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs" data-multi-expand="true" data-allow-all-closed="true" id="{{id}}-tabs">
                {{#each items}}
                    {{#if @first}}
                        <li class="tabs-title sl_tabs__title is-active" role="presentation"><a href="#tabpanel-{{tab-id}}" role="tab" aria-controls="tabpanel-{{tab-id}}" aria-selected="true" id="tabpanel-{{tab-id}}-label">{{heading}}</a></li>
                    {{else}}
                        <li class="tabs-title sl_tabs__title" role="presentation"><a href="#tabpanel-{{tab-id}}" role="tab" aria-controls="tabpanel-{{tab-id}}" aria-selected="true" id="tabpanel-{{tab-id}}-label">{{heading}}</a></li>
                    {{/if}}
                {{/each}}
    		</ul>
    		<div class="tabs-content sl_tabs__content" data-tabs-content="{{id}}-tabs">
                {{#each items}}
                    {{#if @first}}
                        <div class="tabs-panel sl_tabs__panel is-active" id="tabpanel-{{tab-id}}" role="tabpanel" aria-hidden="false" aria-labelledby="tabpanel-{{tab-id}}-label">
                            {{#markdown}}{{content}}{{/markdown}}
                        </div><!-- /.tabs-panel -->
                    {{else}}
                        <div class="tabs-panel sl_tabs__panel" id="tabpanel-{{tab-id}}" role="tabpanel" aria-hidden="false" aria-labelledby="tabpanel-{{tab-id}}-label">
                            {{#markdown}}{{content}}{{/markdown}}
                        </div><!-- /.tabs-panel -->
                    {{/if}}
                {{/each}}
    		</div><!-- /.tabs-content -->
        </div><!-- /.sl_tabs__container-->

        {{#if cta}}
		{{#markdown}}{{cta.text}}{{/markdown}}
		{{> component-phone }}
		{{/if}}

	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_tabs -->