<div id="{{id}}" class="sl_module sl_footer_cta {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
        {{#markdown}}{{heading}}{{/markdown}}
		{{#markdown}}{{content}}{{/markdown}}
        <div class="sl_footer_cta--image">
            <img src={{logo}} />
        </div>

        {{#markdown}}{{address}}{{/markdown}}

        {{#if cta}}
		{{> component-phone }}
		{{/if}}

        {{> component-social }}
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_footer_cta -->