<div id="{{id}}" class="sl_module sl_accreditations {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
        {{#each items}}
        <div class="sl_row sl_accreditations__item">
			<div class="sl_cell medium-2 sl_accreditations__media">
				{{#if image}}
					{{#conditional image.url 'LegitScript'}}
					<img class="sl_accreditations__image" src="{{image.url}}" alt="{{image.alt}}" />
					{{else}}
					<script src="https://static.legitscript.com/seals/3418478.js"></script>
					{{/conditional}}
				{{/if}}
			</div><!-- /.sl_cell -->
			<div class="sl_cell medium-10 sl_accreditations__content">
				<div class="sl_card">
					{{#markdown}}{{content}}{{/markdown}}
				</div><!-- /.sl_card -->
			</div><!-- /.sl_cell -->
        </div>
		{{/each}}
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_accreditations -->