<div id="{{id}}" class="sl_module sl_accordion-module {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
        {{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
        <ul class="accordion sl_accordion" data-accordion="default" data-multi-expand="true" data-allow-all-closed="true" role="tablist">
            {{#each items}}
            <li class="accordion-item sl_accordion__item" data-accordion-item=""><a href="#" class="accordion-title sl_accordion__title" aria-controls="panel-{{@index}}" role="tab" aria-expanded="false" aria-selected="false">{{title}}</a>
                <div id="panel-{{@index}}" class="accordion-content sl_accordion__content" data-tab-content="" role="tabpanel" aria-labelledby="panel1-label" aria-hidden="true">
                     {{#markdown}}{{content}}{{/markdown}}
                </div>
            </li><!-- /.sl_accordion__item -->
            {{/each}}
        </ul><!-- /.sl_accordion -->
            
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_accordion -->