<div id="{{id}}" class="sl_module sl_duo {{#if class}}{{class}}{{/if}} {{#if slider}}sl_duo--slider{{/if}} {{#if media-right}}sl_duo--right{{/if}}">
	<div class="sl_inner">
		{{#if module-heading }}{{#markdown}}{{module-heading}}{{/markdown}}{{/if}}
		<div class="sl_row">
			<div class="sl_cell medium-6 sl_duo__media">
				{{#if slider}}
					<div id="{{id}}-slider" class="sl_slider">
						{{#each slider}}
							<img src="{{image.url}}" alt="{{image.alt}}" />
						{{/each}}
					</div><!-- /.sl_slider -->
				{{else}}
					<div class="sl_duo__image" style="background-image: url({{img}})">
						{{!VIDEO MODAL}}
						{{#if video}}
						<a class="sl_button sl_button--video" data-open="{{modal-id}}"></a>	
						{{/if}}				
					</div><!-- /.sl_duo__image -->
				{{/if}}
			</div><!-- /.sl_cell -->
			<div class="sl_cell medium-6 sl_duo__content">
				<div class="sl_card">
					{{#markdown}}{{heading}}{{/markdown}}
					{{#markdown}}{{content}}{{/markdown}}

					{{#if buttons}}
					<div class="sl_button-group">
						{{#each buttons}}
						<a class="sl_button" href="{{url}}" data-smooth-scroll data-offset="-100">{{text}}</a>
						{{/each}}
					</div><!-- /.sl_button-group -->
					{{/if}}
				</div><!-- /.sl_card -->
			</div><!-- /.sl_cell -->
		</div><!-- /.sl_row -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_duo -->

{{#if video}}
{{!REVEAL}}
<div class="reveal sl_reveal sl_reveal--video" data-reveal data-reset-on-close="true" id="{{modal-id}}">
	<div class="responsive-embed widescreen">
		<iframe width="560" height="315" src="{{video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>{{!--/widescreen.flex.video--}}
		<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden>&times;</span>
		</button>{{!--/button--}}
</div>{{!--/.reveal--}}
{{/if}}