<div id="{{id}}" class="sl_module sl_deck {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
		{{#if content}}{{#markdown}}{{content}}{{/markdown}}{{/if}}
		<div class="sl_row {{#if medium-up}}medium-up-{{medium-up}}{{else}}medium-up-3{{/if}} small-up-1">
			{{#each items}}
			<div class="sl_cell">
				<div class="sl_card sl_deck__card">
					{{#if fontawesome}}
						<div class="sl_deck__icon">
							<i class="{{fontawesome}}"></i>
						</div>
					{{/if}}
					{{#if content}}
						<div class="sl_deck__content">
							{{#markdown}}{{content}}{{/markdown}}
						</div>
					{{/if}}
				</div><!-- /.sl_card-->
			</div><!-- /.sl_cell -->
			{{/each}}
		</div><!-- /.sl_row -->

		{{#if cta}}
		{{#markdown}}{{cta.text}}{{/markdown}}
		{{> component-phone }}
		{{/if}}
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_imagegrid -->